---
title: Deploying Cloud Foundry on vSphere
owner: Release Integration
---

<strong><%= modified_date %></strong>

## Step 1: Environment Setup ##

* <a href="vcenter_user_privileges.html" class="subnav">Privileges Required for vCenter User</a>: Ensure you have credentials with sufficient vCenter user permissions.

## Step 2: Deploy BOSH ##

* [Initializing BOSH environment on vSphere](https://bosh.io/docs/init-vsphere.html).

## Step 3: Deploy Cloud Foundry ##

* [Create a Deployment Manifest for Cloud Foundry](../common/create_a_manifest.html)
* <a href="../common/vsphere-vcloud-cf-stub.html" class="subnav">Customizing the Cloud Foundry Deployment Manifest Stub for vSphere, vCloud Air, or vCloud Director</a>
* [Deploying Cloud Foundry using BOSH](../common/deploy.html): Deploy!
