---
title: Deploying Cloud Foundry on OpenStack
owner: Release Integration
---

<strong><%= modified_date %></strong>

## Step 1: Environment Setup ##

* <a class="subnav" href="validate_openstack.html">Validate your OpenStack Instance</a>
* <a class="subnav" href="security_group.html">Security Group for Cloud Foundry on OpenStack</a>: Create a Security Group
* <a class="subnav" href="set-up-dns.html">DNS Setup for Cloud Foundry on OpenStack</a>
* <a class="subnav" href="required-flavors.html">Required Instance Flavors for Cloud Foundry on OpenStack</a>: Confirm that your OpenStack instance has the required instance flavors.

## Step 2: Deploy BOSH ##

* [Initializing BOSH environment on OpenStack](https://bosh.io/docs/init-openstack.html).

## Step 3: Deploy Cloud Foundry ##

* [Create a Deployment Manifest for Cloud Foundry](../common/create_a_manifest.html)
* <a class="subnav" href="cf-stub.html">Customizing the Cloud Foundry Deployment Manifest Stub for OpenStack</a>
* [Deploying Cloud Foundry using BOSH](../common/deploy.html): Deploy!

## Advanced and Support Topics ##

* <a class="subnav" href="troubleshooting.html">Troubleshooting Cloud Foundry on OpenStack</a>
* <a class="subnav" href="using_swift_blobstore.html">Using OpenStack Swift as a Cloud Foundry Blobstore</a>
